/*-- scss:defaults --*/
// Base document colors
$body-bg: #212f4b;
$body-color: white;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

// Navbar
$navbar-bg: #1a2339;
$nav-tabs-link-active-color: #ffffff;
$nav-tabs-link-active-bg: #000000;

// Tabla con solo líneas horizontales
table {
  width: 100%;
  border-collapse: collapse;

  tr {
    th, td {
      border-bottom: 1px solid #ddd; // Solo líneas horizontales entre filas
      border-left: none; // Elimina las líneas verticales
      border-right: none; // Elimina las líneas verticales
    }

    &:last-child {
      th, td {
        border-bottom: none; // Elimina la línea inferior de la última fila
      }
    }
  }

  tr:hover {
    background-color: lighten($body-bg, 10%); // Efecto hover para aclarar el fondo
  }

  th, td {
    padding: 10px;
  }
}


/*-- Estilos para los callouts de tipo warning --*/
.callout-warning {
  background-color: #FFE6F0;
  border-left: 4px solid #FF4D80;
  padding: 15px;
  color: #5C0D1F;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 1.5em;
}

.callout-warning h4 {
  margin-top: 0;
  color: #FF4D80;
}

.callout-warning a {
  color: #75AADB;
  text-decoration: underline;
}

.callout-warning a:hover {
  color: darken(#75AADB, 10%);
}

.callout-warning {
  background-color: #FFE6F0; // Fondo en un rosa pálido para suavidad y contraste con el morado
  border-left: 4px solid white; // Borde izquierdo en blanco
  padding: 15px;
  color: #5C0D1F; // Texto en un tono burdeos oscuro para hacer buen contraste
  margin: 20px 0;
  border-radius: 5px; // Bordes redondeados para un aspecto suave
  font-size: 1.5em; // Aumenta el tamaño del texto general

  h4 {
    margin-top: 0;
    color: #FF4D80; // Título del callout en el mismo tono rosa fuerte del borde
    font-size: 2em; // Aumenta el tamaño del título
  }
  
  p {
    margin: 0;
  }

  a {
    color: #75AADB; // Enlaces en azul claro para consistencia con los enlaces del sitio
    text-decoration: underline;
  }

  a:hover {
    color: darken(#75AADB, 10%);
  }
}

 // scss-docs-start headings-variables
$headings-color: #FFFFFF;